* {
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px 12px 5px 12px;
    background-color: #FFF3E6;
  }

  html, body {
    height: 100%;
  }

  header {
    text-align: center;
    padding-bottom: 10px;
  }

  .stage img {
    height: 70px;
    width: 70px;
  }

  footer {
    margin-top: auto;
    padding-top: 20px;
  }

  footer p {
    text-align: center;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }

  .submit-button {
    height: 50px;
    width: 100px;
    align-self: center;
  }
  
  button:hover {
    cursor: pointer;
  }

  @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

  .bookandbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin: 0;
    padding: 0;
  }
  ol li {
    align-items: center;
    counter-increment: my-awesome-counter;
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  ol li::before {
    width: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    content: counter(my-awesome-counter);
    font-weight: bold;
    font-size: 15px;
    margin-right: 0.5rem;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #js-form {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  #js-form > * {
    margin-bottom: 20px;
  }

  .bookandbutton button {
    width: 105px;
  }

  .bookandbutton p {
    width: 200px;
  }

  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  label, input {
    display: block;
  }

  .nyt-api-image {
    width: 65px;
  }

  .js-lib-click {
    max-height: 41px; 
    margin-right: 10px;
  }

  .js-lib-click-exact {
    display: none;
  }

  .js-lib-click::after {
    content: 'click here';
    text-indent: 0;
    display: block;
    line-height: initial;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
  }

  .stage img {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  .genre-select {
    cursor: pointer;
    width: 100px;
    overflow: hidden;
  }

.genre-select-dropdown {
  font-family: Arial;
  align-self: center;
}

/* .genre-select-dropdown select {
  background-color: #3A6BAC;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  text-overflow: wrap;
}  */


.genre-select-dropdown select {
  -webkit-appearance: button;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: 98.5% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  font-size: 12px;
  color: black;
  background-image: url(http://i62.tinypic.com/15xvbd5.png);
  background-color: #3A6BAC;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 5px;
  height: 50px;
}

/* .genre-select-dropdown select:hover {
  border-color: red;
} */


.select-items div {
  margin-bottom: 0;
  cursor: pointer;
}
